<% cta_banner.each do |article| %>
  <div class="callout gitlab-trial slp-bg-grayscale-highlight slp-relative">
    <img class="slp-pt-32 slp-m-auto" src="/images/pricing/particles-contact.svg"/>
    <h2 class="slp-font-normal slp-text-grayscale-333 slp-text-xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-col-span-full slp-max-w-2xl slp-m-auto">
      <%= article.title %>
    </h2>
    <p class="slp-font-normal slp-text-xl slp-text-grayscale-333 slp-leading-tight">
    	<%= article.subtitle %>
    </p>
    <a class="slp-btn" href="<%= article.button_url %>">
      <%= article.button_text   %>
    </a>
  </div>
<% end %>